.header {
  display: flex;
  padding: 20px 60px;
  justify-content: space-between; }

.header img {
  width: 300px;
  max-height: 300px; }

@media only screen and (max-width: 700px) {
  .header {
    display: block; } }
@media only screen and (max-width: 500px) {
  .header img {
    width: 200px; } }
@font-face {
  font-family: 'camboregular';
  src: url("../fonts/cambo/cambo-regular-webfont.woff2") format("woff2"), url("../fonts/cambo/cambo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'epilogue';
  src: url("../fonts/epilogue/epilogue[slnt,wght].woff2") format("woff2"); }
* {
  font-family: "epilogue", sans-serif;
  font-variation-settings: "wdth" 0, "wght" 400;
  line-height: normal;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

body {
  background-image: url("../images/bg-stars.png"), linear-gradient(to right, #2e4f6b, #5982a6);
  background-attachment: fixed;
  color: #264f73; }

a {
  text-decoration: none; }

a:link {
  color: #009BDE; }

a:visited {
  color: #009BDE; }

a:hover {
  color: #12b7ff; }

p {
  line-height: 1.4em; }

.paper {
  background-color: #fbfbfb;
  margin: 20px auto;
  padding: 0px 0px 20px 0px;
  width: 900px;
  border-radius: 4px;
  box-shadow: 1px 10px 15px rgba(24, 26, 27, 0.4); }

.acrylic {
  color: #fbfbfb;
  margin: 20px auto;
  padding: 20px;
  width: 900px; }

.header p {
  margin: 0px; }

.main-nav {
  margin-bottom: 0px; }

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-left: 0px;
  margin: 0; }

.main-nav ul li {
  flex: 1;
  font-size: 1.2em;
  text-align: center;
  background-color: #264159; }

.main-nav ul li a {
  display: block;
  line-height: 45px;
  color: white;
  padding: 0 20px;
  white-space: nowrap; }

.main-nav ul li:hover {
  box-shadow: 0px 0px 8px rgba(177, 180, 8, 0.2); }

.main-nav ul li a:hover {
  background-color: #aaac39; }

.main-nav ul li.selected > a {
  background-color: #aaac39;
  color: white; }

.md {
  padding: 20px 60px; }

.md img {
  max-width: 300px; }

.md h1 {
  text-align: center;
  font-family: "epilogue";
  font-size: 2.5em;
  font-variation-settings: "slnt" 0, "wght" 650;
  padding: 10px;
  line-height: 1;
  color: #fbfbfb;
  background: #B9BF10; }

.md h3 {
  margin: 0px; }

.md ul li {
  line-height: 1.5em; }

.centertext {
  text-align: center; }

.contact {
  padding: 20px 60px; }

.contact img {
  max-width: 300px; }

.contact br {
  height: 0px;
  line-height: 0px; }

.contact h1 {
  text-align: center;
  font-family: "epilogue";
  font-size: 2.5em;
  font-variation-settings: "slnt" 0, "wght" 650;
  padding: 10px;
  line-height: 1;
  color: #fbfbfb;
  background: #B9BF10; }

.contact h2 {
  background: #A0A1A2;
  color: #fbfbfb;
  font-size: 2em;
  line-height: 1em;
  padding: 10px 20px;
  font-variation-settings: "slnt" 0, "wght" 600; }

.contact h3 {
  color: #009BDE;
  margin: 50px 0px 0px 0px;
  font-size: 2em;
  font-variation-settings: "slnt" 0, "wght" 700;
  line-height: 1em; }

.contact h4 {
  color: #009BDE;
  margin: 0px; }

.contact ul li {
  line-height: 1.5em; }

.centertext {
  text-align: center; }

@media only screen and (max-width: 940px) {
  .paper {
    width: 90%; }

  .acrylic {
    width: 90%; } }
@media only screen and (max-width: 700px) {
  .md iframe {
    width: 100%; } }
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.3em; }

  .paper {
    width: 98%;
    margin-top: 6px; }

  .acrylic {
    width: 98%; }

  .main-nav ul {
    flex-direction: column; }

  .md {
    padding: 10px 10px; }

  .contact {
    padding: 10px 10px; } }

/*# sourceMappingURL=styles.css.map */
