.header {
  display: flex;
  padding: 20px 60px;
  justify-content: space-between; }

.header img {
  width: 300px;
  max-height: 300px; }

@media only screen and (max-width: 700px) {
  .header {
    display: block; } }
@media only screen and (max-width: 500px) {
  .header img {
    width: 200px; } }
@font-face {
  font-family: 'camboregular';
  src: url("../fonts/cambo/cambo-regular-webfont.woff2") format("woff2"), url("../fonts/cambo/cambo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'epilogue';
  src: url("../fonts/epilogue/epilogue[slnt,wght].woff2") format("woff2"); }
.module-heading {
  background-color: red;
  background: repeating-linear-gradient(-44deg, #a0a1a2, #a0a1a2 5px, #9d9e9f 5px, #9d9e9f 10px);
  color: white; }

.module-heading h1 {
  font-variation-settings: "slnt" 0, "wght" 550;
  line-height: 2em;
  font-size: 2.5em;
  padding: 0px;
  margin: 0px;
  padding-top: 8px;
  text-align: center;
  text-shadow: 1px 3px rgba(23, 26, 28, 0.2); }

@media only screen and (max-width: 940px) {
  .module-heading h1 {
    font-size: 2em;
    padding-top: 6px; } }
@media only screen and (max-width: 700px) {
  .module-heading h1 {
    font-size: 1.8em;
    padding-top: 5px; } }
@media only screen and (max-width: 500px) {
  .module-heading h1 {
    font-size: 1.4em;
    padding-top: 3px; } }
* {
  font-family: "epilogue", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 400;
  line-height: normal;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

body {
  background-image: url("../images/bg-stars.png"), linear-gradient(to right, #2e4f6b, #5982a6);
  background-attachment: fixed;
  color: #264f73; }

a {
  text-decoration: none;
  line-height: 100%; }

a:link {
  color: #009BDE; }

a:visited {
  color: #009BDE; }

a:hover {
  color: #12b7ff; }

p {
  line-height: 1.4em; }

.paper {
  background-color: #fbfbfb;
  margin: 20px auto;
  padding: 0px 0px 20px 0px;
  width: 900px;
  border-radius: 4px;
  box-shadow: 1px 10px 15px rgba(24, 26, 27, 0.4); }

.acrylic {
  color: #fbfbfb;
  margin: 20px auto;
  padding: 20px;
  width: 900px; }

.header p {
  margin: 0px; }

.main-nav {
  margin-bottom: 0px; }

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-left: 0px;
  margin: 0; }

.main-nav ul li {
  flex: 1;
  font-size: 1.2em;
  text-align: center;
  background-color: #003B71; }

.main-nav ul li a {
  display: block;
  line-height: 45px;
  color: white;
  padding: 0 20px;
  white-space: nowrap; }

.main-nav ul li:hover {
  box-shadow: 0px 0px 8px rgba(177, 180, 8, 0.2); }

.main-nav ul li a:hover {
  background-color: #B9BF10; }

.main-nav ul li.selected > a {
  background-color: #B9BF10;
  color: white; }

.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #A0A1A2;
  padding: 10px; }

.grid-item {
  background: #fbfbfb;
  border-radius: 3px;
  box-shadow: 1px 10px 15px rgba(24, 26, 27, 0.4);
  padding-bottom: 10px; }

.grid-item-img-box {
  width: 100%; }

.grid-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 100%;
  object-fit: contain; }

.grid-item h5 {
  margin: 5px;
  padding: 3px; }

.grid-item p {
  margin: 5px;
  font-size: .9rem; }

.md {
  padding: 20px 0px 20px 0px; }

.md a {
  line-height: 0px; }

.md img {
  max-width: 300px; }

.md h1 {
  text-align: center;
  font-family: "epilogue";
  font-size: 2.5em;
  font-variation-settings: "slnt" 0, "wght" 650;
  padding: 20px;
  margin: 0px 0px 50px 0px;
  line-height: 1;
  color: #fbfbfb;
  background: #A0A1A2; }

.md h2 {
  font-variation-settings: "slnt" 0, "wght" 550;
  color: #fbfbfb;
  background: #A0A1A2;
  padding: 0px 80px; }

.md h3 {
  font-variation-settings: "slnt" 0, "wght" 350;
  background: #A0A1A2;
  color: #fbfbfb;
  line-height: 1em;
  margin: 30px 0px;
  padding: 10px 80px;
  font-variation-settings: "slnt" 0, "wght" 600; }

.md h4 {
  color: #003B71;
  margin: 50px 0px 0px 0px;
  font-size: 2em;
  font-variation-settings: "slnt" 0, "wght" 500;
  line-height: 1em; }

.md h5 {
  font-size: .9em;
  color: #003B71;
  margin: 0px; }

.md p, h2, h3, h4, h5, h6 {
  padding: 0px 80px; }

.md ul {
  padding: 0px 100px; }

.md ul li {
  line-height: 1.5em; }

.centertext {
  text-align: center; }

.md br {
  height: 0px;
  line-height: 0px; }

.md ul li {
  line-height: 1.5em; }

.centertext {
  text-align: center; }

.md iframe {
  margin-top: 80px; }

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #003B71;
  color: white;
  font-size: .9em;
  padding-left: 50px;
  padding-right: 50px; }

.grid3__child {
  padding: 5px; }

.video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px; }

@media only screen and (max-width: 940px) {
  .paper {
    width: 90%; }

  .acrylic {
    width: 90%; }

  .grid-section {
    grid-template-columns: 1fr 1fr 1fr; } }
@media only screen and (max-width: 700px) {
  .md p, .md h2, .md h3, .md h4, .md h5, .md h6 {
    padding-left: 50px;
    padding-right: 50px; }

  .grid-section {
    grid-template-columns: 1fr 1fr; }

  .video iframe {
    padding-left: 5px;
    padding-right: 5px; } }
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.3em; }

  .paper {
    width: 98%;
    margin-top: 6px; }

  .acrylic {
    width: 98%; }

  .main-nav ul {
    flex-direction: column; }

  .md {
    padding: 0px; }

  .md p, .md h2, .md h3, .md h4, .md h5, .md h6 {
    padding-left: 20px;
    padding-right: 20px; }

  .contact {
    padding: 10px 10px; }

  .grid3 {
    grid-template-columns: 1fr; }

  .video iframe {
    padding-left: 0px;
    padding-right: 0px; } }

/*# sourceMappingURL=styles.css.map */
