@font-face {
    font-family: 'camboregular';
    src: url('../fonts/cambo/cambo-regular-webfont.woff2') format('woff2'),
         url('../fonts/cambo/cambo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
