@import 'variables.scss';



.grid-section {            display: grid;
                           grid-template-columns: 1fr 1fr 1fr 1fr;
                           grid-gap: 10px;
                           background-color: $snow;
                           padding: 20px 80px; }

.grid-item {               display: flex;
                           flex-direction: column;
                           justify-content: space-between;
                           background: $snow;
                           border-radius: 3px;
                           box-shadow: $shadow01;
                           padding-bottom: 10px;
                           padding-top: 3px; }

.grid-card-header {        }

.grid-item-img-box {       width: 100%; }

.grid-item img {           display: block;
                           margin-left: auto;
                           margin-right: auto;
                           height: 160px;
                           width: 100%;
                           object-fit: contain; }

.grid-item h1 {            font-variation-settings: "slnt" 0, "wght" 600;
                           font-size: 1rem;
                           line-height: 1rem;
                           margin: 5px;
                           padding: 0px; }

.grid-item h2 {            font-variation-settings: "slnt" 0, "wght" 400;
                           font-size: .8rem;
                           line-height: 1.1rem;
                           margin: 5px;
                           padding: 0px; }


.grid-item h5 {            margin: 5px;
                           padding: 3px; }

.grid-item p {             margin: 5px;
                           font-size: .9rem; }



@media only screen and (max-width: 940px) {
.grid-section { grid-template-columns: 1fr 1fr 1fr;
                padding: 20px 80px; } }

@media only screen and (max-width: 700px) {
.grid-section { grid-template-columns: 1fr 1fr;
                padding: 20px 50px; } }

@media only screen and (max-width: 500px) {
.grid-section { padding: 20px 20px; } }
