@import 'variables.scss';


.md {                      padding: 0px 0px 0px 0px; }

.md a {                    color: $snow;
                           line-height: 0px;
                           background: $swatch03;
                           padding: 10px 14px;
                           border-radius: 4px;
                           font-variation-settings: "slnt" 0, "wght" 500;
                           box-shadow: $shadow01; }

.md a:link {               color: white; }
.md a:visited {            color: white; }
.md a:hover {              background-color: $swatch01; }
.md a:active {             color: $swatch04; }


.md img {                  max-width: 300px; }

.md h1 {                   font-size: 2.5em;
                           font-variation-settings: "slnt" 0, "wght" 650;
                           line-height: 1.2em;
                           margin-bottom: 20px;}

.md h2 {                   font-size: 2em;
                           font-variation-settings: "slnt" 0, "wght" 550;
                           line-height: 1.15em;
                           margin-bottom: 20px;}

.md h3 {                   font-size: 1.6em;
                           font-variation-settings: "slnt" 0, "wght" 550;
                           line-height: 1.15em;
                           margin-bottom: 20px; }

.md h4 {                   font-size: 1.2em;
                           font-variation-settings: "slnt" 0, "wght" 500;
                           line-height: 1.2em;
                           margin-bottom: 15px; }

.md h5 {                   font-size: 1em;
                           font-variation-settings: "slnt" 0, "wght" 550;
                           line-height: 1.2em;
                           margin-bottom: 00px; }

.md p, h1, h2, h3, h4, h5, h6 { padding: 0px 80px; }
.md p {                         padding-top: 10px;
                                padding-bottom: 10px; }

.md ul {                        padding: 0px 100px; }
.md ul li {                     line-height: 1.5em; }

.md iframe {                margin-top: 80px;}


@media only screen and (max-width: 940px) {
}

@media only screen and (max-width: 700px) {
.md p, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6 { padding-left: 50px; padding-right: 50px; }
.md h1 {                   font-size: 2em; }
.md h2 {                   font-size: 1.8em; }
.md h3 {                   font-size: 1.6em; }
.md h4 {                   font-size: 1.4em; }
.md h5 {                   font-size: 1.2em; }
.md ul {                   padding: 0px 80px; }
}

@media only screen and (max-width: 500px) {
.md { padding: 0px; }
.md p, .md h1, .md h2, .md h3, .md h4, .md h5, .md h6  { padding-left: 20px; padding-right: 20px; }
.md h1 {                   font-size: 1.8em; }
.md h2 {                   font-size: 1.6em; }
.md h3 {                   font-size: 1.4em; }
.md h4 {                   font-size: 1.2em; }
.md h5 {                   font-size: 1em; }
.md ul {                   padding: 0px 60px; }
}
