@import 'variables.scss';
@import 'backgrounds.scss';

.module-heading {
    background-color: red;
    background: $background01;
    color: white;
}


.module-heading h1 {
    font-variation-settings: "slnt" 0, "wght" 550;
    line-height: 2em;
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    text-align: center;
    text-shadow: 1px 3px hsla($hue01, 10, 10, .2);
}


@media only screen and (max-width: 940px) {
.module-heading h1 {
    font-size: 2em;
    padding-top: 6px;
}
}

@media only screen and (max-width: 700px) {
.module-heading h1 {
    font-size: 1.8em;
    padding-top: 5px; }
}

@media only screen and (max-width: 500px) {
.module-heading h1 {
    font-size: 1.4em;
    padding-top: 3px; }
}
