@import 'variables.scss';

nav {                 background: $swatch01; }

.main-nav {           margin-bottom: 0px;}
.main-nav ul{         display: flex;
                      flex-wrap: wrap;
                      list-style: none;
                      text-align: center;
                      padding-left: 0px;
                      margin: 0;}
.main-nav ul li {     flex: 1;
                      font-size: 1.2em;
                      text-align: center;
                      background-color: $swatch01; }
.main-nav ul li a {   display: block;
                      line-height: 45px;
                      color: white;
                      padding: 0 20px;
                      white-space: nowrap; }

.main-nav ul li:hover {    box-shadow: 0px 0px 8px hsla($hue02, 91%, 37%, .2);} //Shadow
.main-nav ul li a:hover {  background-color: $swatch02; }

.main-nav ul li.selected > a {    background-color: $swatch02;
                                   color: white; }

nav #navLinks {   display: flex;
                  justify-content: flex-end; }

nav #hamburger {  display: none;
                  margin: 0px;
                  line-height: 0px;
                  padding: 10px 15px 10px 15px; }

nav #hamburger:hover { background-color: $swatch02; }

nav .hambox {     display: flex;
                  justify-content: flex-end;
                  font-size: 2em;}

nav .hambox a {   color: white; }




@media only screen and (max-width: 940px) {
.main-nav ul li a { padding: 0 5px;}
}

@media only screen and (max-width: 700px) {
nav #navLinks { display: none; }
nav #hamburger {display: block; }
}

@media only screen and (max-width: 500px) { }
