$hue01: 208;
$hue02: 61;
$snow: #f4f4f4;

$swatch01: #003B71; // Navy
$swatch02: #B9BF10; // Peagreen
$swatch03: #009BDE; // Light Blue
$swatch04: #A0A1A2; // Grey
$swatch05: #E2231A; // Red


$textcolor: hsl($hue01, 50, 30);
