@import 'variables.scss';

.minipage-wide {      background-color: white;
                      margin: 5px;
                      padding: 15px;
                      display: flex;
                      border-top-right-radius: 50px;
                      box-shadow: 1px 10px 15px hsla($hue01, 5, 10, .1);}

.iconholder2 {         margin: 0px auto;;
                       width: 150px;
                       height: 150px;
                       text-align: center;}

.iconholder2 img {     max-width: 150px;
                       max-height: 150px;}

.textholder {         flex: 1;
                      padding-left: 40px; }
