@import 'variables.scss';
@import "header.scss";
@import "fonts.scss";

* {                   font-family: "epilogue", sans-serif;
                      font-variation-settings: "wdth" 0, "wght" 400;
                      line-height: normal;
                      box-sizing: border-box; }

body {                background-image: url("../images/bg-stars.png"), linear-gradient(to right, hsl($hue01, 40, 30), hsl($hue01, 30, 50));
                      background-attachment: fixed;
                      color: $textcolor; }
a {                   text-decoration: none;}
a:link {              color: $swatch03;}
a:visited {           color: $swatch03;}
a:hover {             color: lighten($swatch03, 10%)}
p {                   line-height: 1.4em;}

.paper {              background-color: $snow;
                      margin: 20px auto;
                      padding: 0px 0px 20px 0px;
                      width: 900px;
                      border-radius: 4px;
                      box-shadow: 1px 10px 15px hsla($hue01, 5, 10, .4); }

.acrylic {            color: $snow;
                      margin: 20px auto;
                      padding: 20px;
                      width: 900px;}


.widebutton {         background-color: hsl($hue01, 40, 25);
                      color: $swatch03;
                      text-align: center;
                      margin: 5px;}

.widebutton a {       display: block;
                      padding: 15px;}

.widebutton a:link {    color: white; }
.widebutton a:visited { color: white; }
.widebutton a:hover {   background-color: hsl($hue02, 50, 45);}

.main-nav {           margin-bottom: 0px;}
.main-nav ul{         display: flex;
                      flex-wrap: wrap;
                      list-style: none;
                      text-align: center;
                      padding-left: 0px;
                      margin: 0;}
.main-nav ul li {     flex: 1;
                      font-size: 1.2em;
                      text-align: center;
                      background-color: hsl($hue01, 40, 25);}
.main-nav ul li a {   display: block;
                      line-height: 45px;
                      color: white;
                      padding: 0 20px;
                      white-space: nowrap;}

.main-nav ul li:hover {  box-shadow: 0px 0px 8px hsla($hue02, 91, 37, .2);}
.main-nav ul li a:hover {  background-color: hsl($hue02, 50, 45); }

.main-nav ul li.selected > a {    background-color: hsl($hue02, 50, 45);
                                   color: white; }

.md {                 padding: 20px 60px;}
.md img {             max-width: 300px;}
.md h1 {              text-align: center;
                      font-family: "epilogue";
                      font-size: 2.5em;
                      font-variation-settings: "slnt" 0, "wght" 450;
                      margin: 0px;
                      line-height: 1;}
.md h2, h3, h4, h5,{  font-family: "epilogue";}

.centertext {         text-align: center; }





@media only screen and (max-width: 940px) {
.paper {      width: 90%; }
.acrylic {    width: 90%; } }

@media only screen and (max-width: 700px) {
.md iframe {  width: 100%; } }

@media only screen and (max-width: 500px) {
h1 {           font-size: 1.5em; }
h2 {           font-size: 1.3em; }
.paper {       width: 98%;
               margin-top: 6px;  }
.acrylic {     width: 98%; }
.main-nav ul{  flex-direction: column; }
.header img {  width: 250px; }
.md {          padding: 10px 20px; } }
