@import "variables.scss";
@import "header.scss";
@import "navigation.scss";
@import "fonts.scss";
@import "module-heading.scss";
@import "backgrounds.scss";
@import "md.scss";
@import "card.scss";
@import "feature.scss";
@import "grid.scss";
@import "image-grid.scss";
@import "grid-feature.scss";

* {                   font-family: "epilogue", sans-serif;
                      // slnt: -12 - 0 , wght: 100 - 900
                      font-variation-settings: "slnt" 0, "wght" 400;
                      line-height: normal;
                      box-sizing: border-box; }

h1, h2, h3, h4, h5 {  font-weight: normal; }

body {                background-image: url("../images/bg-stars.png"), linear-gradient(to right, hsl($hue01, 40, 30), hsl($hue01, 30, 50));
                      background-attachment: fixed;
                      color: $textcolor; }
a {                   text-decoration: none;
                      line-height: 100%;
                      }
a:link {              color: $swatch03; }
a:visited {           color: $swatch03; }
a:hover {             color: lighten($swatch03, 10%); }
p {                   line-height: 1.4em;}





.paper {              background-color: $snow;
                      margin: 20px auto;
                      padding: 0px 0px 20px 0px;
                      width: 900px;
                      border-radius: 4px;
                      box-shadow: $shadow01; }

.acrylic {            color: $snow;
                      margin: 20px auto;
                      padding: 20px;
                      width: 900px; }
.header p {           margin: 0px; }






.centertext {              text-align: center; }


footer {                   background-color: $swatch01;
                           padding-top: 10px;
                           padding-bottom: 10px;
                           color: $snow;
                           font-size: .9em;

}

.grid3 {                   display: grid;
                           grid-template-columns: 1fr 1fr 1fr;
                           padding-left: 50px;
                           padding-right: 50px;}

.grid3__child {            padding: 5px; }



.video iframe {
   display: block;
   margin: 0 auto;
   width: 100%;
   padding: 20px;
   padding-left: 80px; padding-right: 80px;
}



@media only screen and (max-width: 940px) {
.paper {      width: 90%; }
.acrylic {    width: 90%; }
.grid-section { grid-template-columns: 1fr 1fr 1fr; }
}

@media only screen and (max-width: 700px) {
.grid-section { grid-template-columns: 1fr 1fr; }
.video iframe {padding-left: 5px; padding-right: 5px;}
}

@media only screen and (max-width: 500px) {
h1 {           font-size: 1.5em; }
h2 {           font-size: 1.3em; }
.paper {       width: 98%;
               margin-top: 6px;  }
.acrylic {     width: 98%; }
.main-nav ul{  flex-direction: column; }
.contact {     padding: 10px 10px; }
.grid3 {       grid-template-columns: 1fr; }
.video iframe {padding-left: 0px; padding-right: 0px;}
}
